.container {
    display: block;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin-top: 0px;
}

.header {
    text-align: center;
    font-size: 2rem;
    position:relative;
    margin-top: 150px;
    line-height: 50px;
    color: #b99dff;
}

body {
    font-family: Nunito Sans;
    background-image: url("images/pramod-tiwari-mzPdXHrK1l0-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.input-group {
    color: aliceblue;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:left;
    border-radius: 15px;
    color-scheme: dark;
}

.add-task-btn {
    background-color: #2D3142;
    width: 150px;
    height: 30px;
    color: white;
    border: 0px solid #000000;
    border-radius: 3px;
    transition: 300ms;
}

.add-task-btn:hover {
    background-color: #6665DD;
    color: black;
    border-radius: 20px;
    border: solid 1px #ffffff;
}

.view-task-btn {
    background-color: #2D3142;
    width: 150px;
    height: 30px;
    color: white;
    border: 0px solid #000000;
    border-radius: 3px;
    transition: 300ms;
}

.view-task-btn:hover {
    background-color: #6665DD;
    color: black;
    border-radius: 20px;
    border: solid 1px #ffffff;
}

.delete-task-btn {
    background-color: #2D3142;
    width: 150px;
    height: 30px;
    color: white;
    border: 0px solid #000000;
    border-radius: 3px;
    transition: 300ms;
}

.delete-task-btn:hover {
    background-color: #6665DD;
    color: black;
    border-radius: 20px;
    border: solid 1px #ffffff;
}